@import "variables";

// define square mixin whith parameter "side"
@mixin square($side){
  width: $side;
  height: $side;
}

// define red mixin
@mixin red {
  background-color: $bg-color;
  color:$color;
}


.test{
  @include square(10em);
  @include red;
  &:hover{
    background-color: lighten($bg-color, 10%);
  }
  .child{
    @include square(5em);
    background-color: blue;
    box-sizing:border-box;
  }
}




