html{
    height: 100%;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
header{
    background-image: url("../images/pic_slider1.jpg");
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 0, 128, 0.527)); */
    background-size: 100%;
    margin: 0;
}

.contact_header{
    color: rgb(63, 48, 55);
    text-decoration:underline double gray;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 0 1em;
}

span#email{
    margin-left: 1em;
}

#moto_header{
    color: rgb(63, 48, 55);
    margin: 0 1em 0 1em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

}
main{

    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 199, 227)); */
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(238, 245, 149));
    margin-bottom: 0;

}
ul#main_menu{
    margin: 0;
    padding: 0;
}
ul#main_menu li{
    font-size: 1em;
    margin: 0 0 0 .2em;
    padding: 0;
    display: inline-block;
    /* iep: must have vertical-align to prevent problems; */
    list-style-type:none;
    background-color: #333333;
    color: white;
    overflow: hidden;
}

#main_menu li a {
    color: white;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}

.pic_slider ul{
   display: inline;
   list-style-type: none;
   overflow: hidden;
}
.moreUs{
   border: .2em dotted gray;
   width: 500px;
   margin: 1em;
   border-radius: 1em;
}
.moreUs h3{
   text-align: center;
}
#button{
   border: .2 solid gray;
   width: 5em;
   height: 2em;
   text-align: center;
}
button{
   font-size: 1em;
   font-family: 'Cormorant Garamond', serif;
   font-weight: bold;

}
footer{
   padding: 1em 0 2em 0;
   background-color: rgb(0, 0, 0);
   text-align: center;
   color: white;
}
#contacts_footer li{
   font-size: .7em;
   list-style-type: none;
}