/* .body{
    margin: 0;
    padding: 0;
} */
.banner{
    background-image: url(../Images/michael-browning-D0ov97Td-xM-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    margin-left:-7px ;
    margin-right: -7px;
}

.top_bar{
    position: absolute;
    line-height: 36px;
    height: 36px;
    background-color:black;
    padding: 15px;
    margin: -20px;
    width: 100%;
    z-index: 10;
}
.contact_header{
    text-align-last: left;
    padding-left: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(250, 250, 250);
}
.nav_bar{
    width: 100%;
    height: 5em;
    margin: -15px;
    padding: 40px;
    position: absolute;
    background-color:rgb(250, 250, 250,0.6);

}
/* .menu{
    display: block;
    padding: 2px;
    background-color:rgba(235,232,232,1);
    
} */
nav p{
    font-family: sans-serif;
    color: black;
    font-size: 23px;
    float: left;
    padding-top: 40px;
}
nav ul{
    float: left;
    padding-top: 40px;
    text-align: right;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    padding: 24px 14px;
    float: left;
    text-decoration: none;
    padding-top: 12px;

}
nav ul li ul{
    display: block;
    position: absolute;
    background-color:white;
}
nav ul li ul li{
    width: 20px;
}
nav ul li ul li a{
    padding: 9px 14px;
}
nav ul li ul li a:hover{
    padding: 9px 14px;
    color:white;
}
.aboutClinic{
    background-color:white;
    width: 100%;
    margin-top: -10px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: black underline; 
    font-size: 24px;
    text-align: left;
    text-indent: 22px;
}
.info_about{
    text-align: inherit;
    line-height: 20px;
    font-size: 18px;

}
.footer_container{
    display: block;
    position: relative;
    width: 100%;
    background-color: black;
    margin: 0 auto;
}
.four_columns{
    display: block;
}
.column1{
    display: block;
    text-align: left;
    padding: 5px;
    border: 2px white;
}
.column2{
    display: block;
    border: 1px;
    padding-left: -20px;
}
.title_footer{
    font-size: 30px;
    color:white;
}
.text{
    color: white;
    font-size: 18px;
}
    